@model MovieRental.Models.Movie

@{
    ViewData["Title"] = "Edytuj";
}

<h1 class="text-white">Edytuj</h1>

<h4 class="text-white">Film</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-2">
                <label asp-for="Name" class="control-label text-white"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Genre" class="control-label text-white"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Price" class="control-label text-white"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="ReleaseDate" class="control-label text-white"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actors" class="control-label text-white"></label>
                <input asp-for="Actors" class="form-control" />
                <span asp-validation-for="Actors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label text-white"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUri" class="control-label text-white"></label>
                <input asp-for="ImageUri" class="form-control" />
                <span asp-validation-for="ImageUri" class="text-danger"></span>
            </div>
            <div class="form-group py-3">
                <input type="submit" value="Zapisz" class="rent-btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ShowAdminPanel">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
